In [22]:
import pandas as pd
import re 
import numpy as np

In [5]:
df2 = pd.read_excel('D:/苏嘉豪/善诊项目/数据项目/健康顾问/email.output.xlsx')
df = df2.loc[df2['日期']=='2020-2-24']
tt = df['list(总服务时长)']

In [ ]:
def time2array(times):
    tt = list(times)
    tt_new = list()
    for t in tt:
        for s in re.findall(r'\d+',t):
            tt_new.append(int(s))
    tt_new = np.array(tt_new)
    print(np.percentile(tt_new,25))
    print(np.median(tt_new))
    print(np.average(tt_new))

In [37]:
ft = df['list(反馈时长)']
ft_new = time2array(ft)

0.0
60.0
238.8495575221239

In [32]:
ft_new

array([   60,    60,    60,     0,    60,    60,     0,     0,  1020,
          60,   120,    60,   180, 11640,  5520,    60,     0,  4740,
         120,    60,   120,   120,  2280,    60,     0,   120,    60,
          60,   180,   240,    60,    60,   120,   120,   180,     0,
         180,  1800,   540,    60,   120,    60,     0,   120,    60,
           0,     0,     0,   180,    60,    60,     0,     0,     0,
        1560,    60,    60,   360,    60,     0,     0,    60,   120,
          60,     0,   120,    60,   120,    60,    60,   240,    60,
          60,   180,  1920,    60,     0,     0,    60,     0,    60,
          60,    60,     0,   540,    60,    60,  2160,   120,    60,
         120,  1320,    60,     0,   180,     0,     0,     0,    60,
          60,  4500,   120,     0,     0,    60,     0,   300,   300,
          60,   120,     0,   120,    60,    60,     0,   540, 32340,
          60,   120,    60,    60,    60,   480,    60,    60,    60,
          60,    60,  1800,    60,  6600,     0,  1500,   120,   240,
         720,  1560,  1080, 12480,    60,  2940,    60,    60,     0,
          60,    60,    60,     0,    60,   120,     0,    60,   120,
           0,   180,   120,    60,   240,   120,    60,     0,     0,
           0,    60,     0,   360,    60,     0,    60,    60,     0,
          60,   120,   120,     0,   240,    60,   240,     0,     0,
        8040,     0,   180,    60,     0,    60,    60,   180,   120,
          60,    60,    60,     0,     0,     0,     0,   420,     0,
          60,  2700,    60,    60,   720,   900,   840,    60,   840])

In [2]:
for i in range(50):
    print(i,i*0.524)

0 0.0
1 0.524
2 1.048
3 1.572
4 2.096
5 2.62
6 3.144
7 3.668
8 4.192
9 4.716
10 5.24
11 5.764
12 6.288
13 6.812
14 7.336
15 7.86
16 8.384
17 8.908000000000001
18 9.432
19 9.956
20 10.48
21 11.004000000000001
22 11.528
23 12.052
24 12.576
25 13.100000000000001
26 13.624
27 14.148
28 14.672
29 15.196000000000002
30 15.72
31 16.244
32 16.768
33 17.292
34 17.816000000000003
35 18.34
36 18.864
37 19.388
38 19.912
39 20.436
40 20.96
41 21.484
42 22.008000000000003
43 22.532
44 23.056
45 23.580000000000002
46 24.104
47 24.628
48 25.152
49 25.676000000000002